html {
  background-repeat: no-repeat;
  background-color: #6B6B00;
}

body{
  font: 12pt serif;
  color: #DDDDD0;
  background-color: #242526;
  border: 3px solid #DDDDD0;
  margin-top: 5%;
  margin-bottom: 5%;
  margin-left: 10%;
  margin-right: 10%;
}

div{
  margin: 2% 2% 2% 2%;
  height: auto;
  overflow: auto;
}

button {
  border: 3px solid #242526;
  border-radius: 10px;
  font: bold 14pt serif;
  text-align: center;
  cursor: pointer;
  color: #DDDDD0;
  background-color: #242526;
  padding: 3px 3px 3px 3px;
}

.currentButton {
  text-decoration:underline;
  color: #ABAB00;
}

button:hover {
  border: 3px solid #ED673C;
  background-color: #444546;
  color: #ED673C;
}

.navbar {
  border-top: 1px solid #DDDDD0;
  border-bottom: 1px solid #DDDDD0;
  padding-top: 2%;
  padding-bottom: 2%;
}

a { text-decoration: none; }
a:link { color:#2093C3; }
a:visited { color:#2093C3; }
a:hover { color:#ED673C; }